/* .navigation {
  position: sticky;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  top: 0;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 200;
  border: 1px solid;
}

.admin-header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  justify-content: space-between;
  border: 1px solid;
} */
