/* tailwind classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  overflow-x: hidden;
}

.App > * {
  width: 100vw;
}

.custom-box {
  position: fixed;

  right: 0;
  height: 100%;
  background-color: white;
  width: 50%; /* Adjust width as needed */
  color: black;
  transition: transform 0.3s;
  /* Add shadow for non-mobile views */
  box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1380px) {
  .custom-box {
    box-shadow: none; /* Remove shadow for mobile views */
  }
}

.bg-champs {
  background: linear-gradient(
    to right,
    rgba(38, 0, 252, 0.05),
    rgba(255, 0, 234, 0.05)
  );
}
.page-header {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 28px 32px;
  backdrop-filter: blur(20px);
  animation: slideDown 0.5s ease-out;
}

.search-bar {
  padding: 28px 32px;
  padding-bottom: 0px;
  backdrop-filter: blur(20px);
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.nav-item {
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(40px);
}

.swiper {
  --swiper-navigation-size: 24px !important;
  padding: 24px 24px 48px 24px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  padding: 24px;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.5);
  top: 40% !important;
}

.swiper-button-prev {
  left: 0px !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.faq {
  background-image: url("./assets/images/faq.jpg");
  object-fit: cover;
}

.button {
  background: linear-gradient(60.27deg, #fc001e 0%, #ff7d57 100%);
}

.productcardlgborder {
  border: 2px solid transparent;
  border-radius: 8px;
  background: linear-gradient(to right, white, white),
    linear-gradient(to right, #fc001e, #ff7d57);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.border-gradient {
  /* Replace these gradient colors with your desired gradient */
  border-image: linear-gradient(to right, #ff7d57, #fc001e);
  border-image-slice: 1;
  border-radius: 6px;
}

.nav-menu {
  position: relative;
  width: 400px;
  height: 50px;
  font-size: 0;
}
.nav-menu .nav-link {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;

  text-align: center;
  cursor: pointer;
}
.nav-menu .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
}
.nav-link:nth-child(1) {
  width: 100px;
}
.nav-link:nth-child(2) {
  width: 100px;
}
.nav-link:nth-child(3) {
  width: 100px;
}
.nav-link:nth-child(4) {
  width: 100px;
}

.nav-menu .start-home,
.nav-link:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: rgba(221, 221, 221, 0.4);
}
.nav-menu .start-shop,
.nav-link:nth-child(2):hover ~ .animation {
  width: 135px;
  left: 83px;
  background-color: rgba(221, 221, 221, 0.4);
}
.nav-menu .start-about,
.nav-link:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 205px;
  background-color: rgba(221, 221, 221, 0.4);
}
.nav-menu .start-contact,
.nav-link:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 300px;
  background-color: rgba(221, 221, 221, 0.4);
}

.nav-link-active {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* BackToTopButton.css */
.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #fc001e, #ff7d57);
  /* border: 2px solid red; */
  border-radius: 10px;
}

/* .cards:hover {
  border: 2px solid transparent;
  border-radius: 16px;
  background: linear-gradient(to right, white, white),
    linear-gradient(to right, #fc001e, #ff7d57);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
} */

.border__animation {
  position: relative;
}

.border__animation::before,
.border__animation::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  transition: all 0.5s;
  border-radius: 16px;
}

.border__animation::before {
  border: 2px solid transparent; /* Red border for ::before */
}

.border__animation::after {
  border: 2px solid transparent;
}

.border__animation:hover::before,
.border__animation:hover::after {
  animation: clippath 3s infinite linear;
}

.border__animation:hover::before {
  border-color: #fc001e; /* Change to green on hover for ::before */
}

.border__animation:hover::after {
  border-color: #ff7d57; /* Change to orange on hover for ::after */
  animation-delay: -1.5s;
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }

  50% {
    clip-path: inset(98% 0 0 0);
  }

  75% {
    clip-path: inset(0 0 0 98%);
  }
}

/* Loader */
@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }
  100% {
    background-position: 40rem 0;
  }
}

.skeleton {
  background-color: #e5e7eb;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.home-navigation:hover {
  background-color: rgba(221, 221, 221, 0.4);
  transition: all 0.5s ease 0s;
}

.scrollBox::-webkit-scrollbar {
  display: none;
}

/*toggle bar */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #ff7d57;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #ff7d57;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

.dialog-container {
  background: #ffffff !important;
}

.button-styles:hover {
  color: #ffffff !important;
  background: linear-gradient(to bottom left, #fc001e, #ff7d57) !important;
}

.button-label {
  color: #000 !important;
}

.button-styles {
  padding: 0px !important;
}

.button-styles:hover .button-label {
  color: #fff !important;
}

.img-styles {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 11px;
}
