@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-box {
  position: fixed;

  right: 0;
  height: 100%;
  background-color: white;
  width: 50%; /* Adjust width as needed */
  color: black;
  transition: transform 0.3s;
  /* Add shadow for non-mobile views */
  box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1380px) {
  .custom-box {
    box-shadow: none; /* Remove shadow for mobile views */
  }
}

.react-multiple-carousel__arrow {
  z-index: 0 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.bg-champs {
  background: linear-gradient(
    to right,
    rgba(38, 0, 252, 0.05),
    rgba(255, 0, 234, 0.05)
  );
}
.page-header {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 28px 0;
  backdrop-filter: blur(20px);
  animation: slideDown 0.5s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
